* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.roolDiceButton {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 20px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}

.resetDiceButton {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 20px;
    /* Posição do topo */
    left: 150px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}
.pino-1 {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 70px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}

.pino-2 {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 100px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}

.pino-3 {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 130px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}

.pino-4{
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    top: 160px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}

.init-game {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    width: 100px;
    height: 50px;
    top: 200px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}
.movePin {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    width: 100px;
    height: 50px;
    top: 300px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}
.newPin {
    position: absolute;
    /* Posicionamento absoluto para sobrepor o canvas */
    width: 100px;
    height: 50px;
    top: 400px;
    /* Posição do topo */
    left: 20px;
    /* Posição da esquerda */
    z-index: 100;
    /* Garante que ficará acima do canvas */
}
